		body,h1,h2,h3,h4,h5,h6 {
				font-family: 'Saira Semi Condensed', sans-serif;
			}

			body, html {
			    height: 100%;
			    color: #777;
			    line-height: 2.1;
			    font-size: 20px;
			}
			.image1, .image2, .image3 {
				background-attachment: fixed;
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;

			}
			.image1{
				background-image: url(images/mountain.jpg);
				min-height: 100%;
				width: 100%;

			}
			.image2{
				background-image: url(images/skiing.jpg);
				min-height: 100%;
				width: 100%;
			}
			.image3{
				background-image: url(images/stars.jpg);
				min-height: 100%;
				width: 100%;

			}
			.iconSchoolDesktop{
				padding-right: 50px;
				padding-top: 20px;
				width: 60px;
				object-fit: cover;
				
			}

			.iconSchoolMobile{
				width:150px;
				padding-top: 15px;
				object-fit: cover;
				
			}
			.sectionTitle{
				font-size: 36px;
			}
			.objectFit{
				object-fit: cover;
			}
			.parallaxTitle{
				height: 50px;
			}

			.w3-wide {letter-spacing: 10px;}
			.w3-hover-opacity {cursor: pointer;}

			/* Turn off parallax scrolling for tablets and phones */
			@media only screen and (max-device-width: 1024px) {
	    		.image1, .image2, .image3 {
	        	background-attachment: scroll;
	   			}
			}